.container {
	width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.bottom {
	margin: 20px 0px;
	display: flex;
	width: 100%;
}

.children {
	padding-left: 10px;
	border-left: 1px solid #efefef;
	width: 100%;
}
