.edit {
	width: 100%;
	margin-left: 15px;

	.profile {
		display: grid;
		grid-template-columns: 2fr 1fr;
		margin-bottom: 20px;
		margin-top: 20px;

		.user {
			margin-left: 10px;
			border: 1px solid #bbb;

			.imgContainer {
				margin: 20px auto 0;
				position: relative;
				width: 70%;
				height: 250px;
				border: 1px solid black;
				border-radius: 50%;
			}

			.avatar {
				object-fit: cover;
				border-radius: 50%;
			}

			.user__info {
				margin-top: 20px;
				.email {
					margin-left: 100px;
				}
			}
		}
	}
}

.title {
	font-size: 34px;
	text-align: center;
}

.ads {
	display: flex;
	justify-content: space-between;
}

.imgContainer {
	position: relative;
	width: 32%;
	height: 160px;
}

.actions {
	margin-top: 10px;
	display: flex;
	gap: 10px;
	justify-content: end;
}

.actions__button {
	padding: 10px 15px;
	background: rgb(214, 13, 13);
	color: white;
	border-radius: 5px;
	border: none;

	&:nth-child(2) {
		background: rgb(19, 161, 19);
	}
}

.info {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.info__item {
	grid-row: span 3;
}
