.checkBox {
	width: 20px;
	height: 20px;
	border: 1px solid #e2e2e2;
	cursor: pointer;
}

.mark {
	background: #76bc21;
	color: white;
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}
