.showArrow {
	position: absolute;
	right: 10px;
	background: green;
	color: white;
	padding: 3px;
	font-size: 18px;
	cursor: pointer;
}

.hideArrow {
	position: absolute;
	right: 10px;
	background: green;
	color: white;
	padding: 3px;
	font-size: 18px;
	cursor: pointer;
}

.container {
	box-shadow: 0px 0px 30px rgb(214, 214, 214);
	position: relative;
}

.infoContainer {
	background: #f4f4f4;
}

.info {
	display: flex;
	width: 1400px;
	margin: 0 auto;
	justify-content: end;
	gap: 30px;
}

.links {
	display: flex;
	align-items: center;
	gap: 5px;
}

.link {
	padding: 10px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	cursor: pointer;
}

.link:hover {
	color: #76bc21;
}

.phone {
	display: flex;
	padding: 10px;
	gap: 10px;
	cursor: pointer;
}

//////////////////////////////////

.headerContainer {
}

.header {
}

.headerTopContainer {
	border-bottom: 0.5px solid rgb(233, 233, 233);
}

.header__top {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 40px;
	height: 80px;
}

.logo {
	color: #76bc21;
	font-size: 34px;
	font-weight: 900;
	cursor: pointer;
}

.nav {
	display: flex;
	align-items: center;
	gap: 35px;
	width: 100%;
	justify-content: space-between;
}

.catalog {
	display: flex;
	align-items: center;
	gap: 15px;
	background: #76bc21;
	color: white;
	padding: 15px 28px;
	align-items: center;
	transition: 0.1s;
	cursor: pointer;
}

.catalog:hover {
	background: #85d325;
}

.catalog__icon {
	font-size: 18px;
	font-weight: 100;
}

.catalog__text {
	font-size: 18px;
}

.inputContainer {
	position: relative;
	width: 60%;
}

.input {
	padding: 15px 10px;
	width: 100%;
	border: 1px solid #dfdfdf;
	font-size: 15px;

	&::placeholder {
		color: rgb(150, 150, 150);
	}
}

.input__icon {
	font-size: 28px;
	color: gray;
	position: absolute;
	top: 10px;
	right: 8px;
	cursor: pointer;
}

.nav__items {
	display: flex;
	gap: 30px;
}

.nav__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.item__icon {
	line-height: 0;
	font-size: 25px;
	position: relative;
	height: max-content;
}

.item__text {
	font-size: 14px;
	font-weight: 500;
}

.icon__count {
	position: absolute;
	top: -8px;
	right: -8px;
	font-size: 12px;
	width: 18px;
	height: 18px;
	background: #76bc21;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

//////////////////////////////////////////////

/////////////// modal

.modal {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	z-index: 1;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalContent {
	background: white;
	width: 70%;
	height: 90%;
	box-shadow: 0 0 5px gray;
}

/////////////////////////////////////

.nav__auth {
	display: flex;
	align-items: center;
	gap: 20px;
}

.nav__auth__item {
	font-size: 18px;

	&:nth-child(1) {
		background: rgb(13, 147, 13);
		padding: 10px 15px;
		color: white;
		cursor: pointer;
		border-radius: 3px;
		transition: 0.1s;
		width: 90px;
		text-align: center;

		&:hover {
			background: #76bc21;
		}
	}

	&:nth-child(2) {
		background: #534be5;
		padding: 10px 15px;
		border-radius: 3px;
		color: white;
		cursor: pointer;
		transition: 0.1s;

		&:hover {
			background: #6b63ff;
		}
	}
}
